<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h2>this is home page</h2>
    <form action="/home/register" method="get">
    <button type="submit">new user</button>
    </form>
    <form action="/home/login" method="get">
        <button type="submit">existing user</button>
    </form>
</body>
</html>