<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h2> welcome back </h2><hr>
    <form action="/temp" method="post">
        <p>ENTER THE USER NAME: <input type="text" name="username" placeholder="enter user name"></p>
        <p>ENTER THE PASSWORD: <input type="password" name="password" placeholder="enter your passsword"></p>
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>